html {
    text-align: center;
    font-size: 1.2em;
    background: #fdfdff;
    font-family: "Dubai Light", Verdana, sans-serif;
}

header {
    margin-bottom: 1rem;
}

/*.index-page {*/
/*    !*background-image: url("../static/media/ucak4.jpg");*!*/
/*    !*background-repeat: no-repeat;*!*/
/*    !*background-size: cover;*!*/
/*    background: #fdfdff;*/
/*    font-family: "Dubai Light", Verdana, sans-serif;*/
/*}*/

.flights {
    background: #4a9cd0;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    /*color: #fdfdff;*/
    color: #000;
}

main > h2, h2 {
    font-size: 3.25rem;
}

p {
    font-size: 160%;
    font-weight: 300;
    /*color: #fdfdff;*/
    color: #000;
    margin: 0 1.3rem;
}

#navbar {
    /*border: 1px solid #000;*/
    align-items: center;
    margin: 0 1rem;
    /*background: blanchedalmond;*/
}

#navbar > a {
    /*font-weight: 700;*/
    /*color: #fff;*/
    color: #000;
    text-decoration: none;
}

#navbar > a:hover {
    /*color: #d9d9da;*/
    color: #bb2222;
}

#logo {
    width: auto;
    height: 3vw;
}

#navbar > a.current {
    text-decoration: underline;
}

.img-main {
    background-image: url("media/ucak2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*width: auto;*/
    height: 35rem;
    color: #fdfdff;
    border-radius: 30px;
    margin: 0;
}

.img-main > h1 {
    font-size: 8.3em;
    /*color: #fdfdff;*/
    color: #f8f9fa;
    font-weight: 600;
    padding: .5rem;
    position: relative;
    top: 2rem;
    margin: 2rem 1rem .1rem 1rem;
}

.img-main > p {
    color: #fdfdff;
    font-weight: 650;
    text-shadow: #555 2px 2px 5px;
}

/* IN PROGRESS */
/*.form-fn-search {*/
/*    z-index: 99;*/
/*    top: 10rem;*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    !*flex-wrap: wrap;*!*/
/*    background: #f8f7ff;*/
/*    color: #000;*/
/*    border-radius: 10px;*/
/*    border: cyan 1px solid;*/
/*    width: 600px;*/
/*}*/

/*.form-fn-search > h2 {*/
/*    flex: 2;*/
/*}*/
/* IN PROGRESS */

footer {
    color: #000;
    position: relative;
    font-weight: 400;
    bottom: 0;
    width: 99%;
}

.footer-home {
    color: #fdfdff;
    position: absolute;
    bottom: 0;
    width: 99%;
}

/* TABLES */
.table-section {
    border-radius: 30px;
    width: 60%;
    margin: 1em auto;
}

table {
    background: rgba(10, 0, 0, 0.83);
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
}

thead {
    background: #000;
    color: #fdfdff;
}

tr {
    color: #fdfdff;
}

tr:nth-child(2n) {
    background: rgba(253, 253, 255, 0.82);
    color: #000;
}

td > a {
    background: #2196f3;
    color: #fdfdff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    padding: .3rem;
}

td > a:hover {
    /*background: #fdfdff;*/
    /*color: #000;*/
    background: #fdfdff;
    color: #2196f3;
}
/* TABLES - END */

/* FORMS */
form {
    background: rgba(10, 0, 0, 0.83);
    border-radius: 7px;
    color: #fdfdff;
    display: flex;
    flex-direction: column;
    max-width: 32%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

label {
    margin: .2rem 0;
    align-self: flex-start;
}

input, select {
    font-size: 90%;
    border-radius: 5px;
    border: none;
    margin: 1rem 0;
    max-height: 3rem;
}

.submit-button {
    border: none;
    border-radius: 5px;
    background: #4aacd0;
    color: #fdfdff;
    margin: 1rem 0 .3rem 0;
    padding: .2rem .3rem;
}

.submit-button:hover {
    background: #4a9cd0;
}

.alert-message-box {
    font-size: 70%;
    margin: .4rem 0 .8rem 0;
}

.check-box {
    margin: 2rem 0 .2rem 0;
    align-self: flex-start;
}
/* FORMS - END */

/* DETAIL BOXES */
.detail-box  {
    /*background: #fefefeee;*/
    background: #e1ecf7;
    border-radius: 20px;
    width: 300px;
    margin: .5rem auto 1rem auto;
    padding: 1rem 0;
}

.details {
    text-align: left;
    font-size: 1rem;
    margin-right: auto;
    margin-left: auto;
    width: 54%;
}

.details > p {
    color: #000;
    font-size: 1rem;
    margin: 1rem 2rem;
    font-weight: 300;
}

.details > p > span {
    font-weight: 200;
}

.details > ul {
    margin: .3rem .5rem;
}
/* DETAIL BOXES - END */
