html {
    text-align: center;
    font-size: 1.2em;
}

header {
    margin-bottom: 1rem;
}

.index {
    background-image: url("../static/media/ucak.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Dubai Light", Verdana, sans-serif;
}

.flights {
    background: #4a9cd0;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

main > h1 {
    font-size: 8.3em;
    color: #fdfdff;
    padding: .4rem;
    margin: 1rem 1rem 1.5rem 1rem;
}

main > h2, h2 {
    font-size: 3.25rem;
}

p {
    font-size: 160%;
    font-weight: 300;
    color: #fdfdff;
    margin: 0 1.3rem;
}

#navbar {
    /*border: 1px solid #000;*/
    align-items: center;
}

#navbar > a {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

#navbar > a:hover {
    color: #d9d9da;
}

#logo {
    width: auto;
    height: 3vw;
}

#navbar > a.current {
    text-decoration: underline;
}

.home-buttons-container {
    /*background: rgba(255,255,255,0.27);*/
    /*border-radius: 10px;*/
    /*min-height: 300px;*/
}

.home-buttons-container > a {
    text-decoration: none;
    padding: .65rem;
    margin: 0 1rem;
    color: #fff;
    border: none;
    background: #000;
    border-radius: 7px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 99%;
    color: #fdfdff;
}

/* TABLES */
.table-section {
    width: 60%;
    margin: 1em auto;
}

table {
    background: rgba(10, 0, 0, 0.83);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

thead {
    background: #000;
    color: #fdfdff;
}

tr {
    color: #fdfdff;
}

tr:nth-child(2n) {
    background: rgba(253, 253, 255, 0.82);
    color: #000;
}

td > a {
    background: #000;
    color: #fdfdff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    padding: .3rem;
}

td > a:hover {
    background: #fdfdff;
    color: #000;
}
/* TABLES - END */

/* FORMS */
form {
    background: rgba(10, 0, 0, 0.83);
    border-radius: 7px;
    color: #fdfdff;
    display: flex;
    flex-direction: column;
    max-width: 32%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.radio-section {
    align-self: center;
    display: block;
    text-align: left;
}

input {
    font-size: 90%;
    border-radius: 5px;
    border: none;
}
/* FORMS - END */

/* DETAIL BOXES */
.detail-box  {
    background: #fefefeee;
    border-radius: 10px;
    width: 50%;
    margin: .5rem auto 1rem auto;
    padding: 1rem 0;
}

.details {
    text-align: left;
    font-size: 1rem;
    margin-right: auto;
    margin-left: auto;
    width: 52%;
    border: 1px solid red;
}

.details > p {
    color: #000;
    font-size: 1rem;
    margin: 1rem 2rem;
    font-weight: 900;
}

.details > p > span {
    font-weight: 200;
}

.details > ul {
    margin: .3rem .5rem;
}



/* DETAIL BOXES - END */
