<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-9">
    <link rel="stylesheet" th:href="@{../static/general.css}">
    <link rel="icon" type="image/png" th:href="@{../static/media/fav_icon.png}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title>Flights</title>
</head>
<body class="container-fluid index">
<header>
    <nav id="navbar" class="navbar row">
        <a class="navbar-brand col-xl-5 col-xs-2 col-md-1" th:href="@{../home}">
            <img id="logo" src="../static/media/fav_icon.png" alt="logo">
        </a>
        <a class="col-xl-1 col-xs-8 col-md-2" th:href="@{../home}">Home</a>
        <a class="col-xl-1 col-xs-8 col-md-2" th:href="@{../passengers}">Passengers</a>
        <a class="current col-xl-1 col-xs-8 col-md-2" th:href="@{../flights}">Flights</a>
        <a class="col-xl-2 col-xs-8 col-md-2" th:href="@{../passengers/add}">Add Passenger</a>
        <a class="col-xl-1 col-xs-8 col-md-2" th:href="@{../flights/add}">Add Flight</a>
        <!--        <span class="col-xl-1 col-xs-8 col-md-2"><a href="">En</a>/<a href="">Tr</a></span>-->
    </nav>
</header>
<h1 th:utext="#{page_heading}">Flights</h1>
<main class="table-responsive table-section">
    <table class="table">
        <thead>
        <tr>
            <th th:utext="#{airline}">Airline</th>
            <th th:utext="#{flight}">Flight</th>
            <th th:utext="#{from}">From</th>
            <th th:utext="#{to}">To</th>
            <th th:utext="#{date}">Date</th>
            <th th:utext="#{status}">Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flight : ${flights}">
            <td th:text="${flight.getAirline()}"></td>
            <td th:text="${flight.getFlightNumber()}"></td>
            <td th:text="${flight.getDeparture()}"></td>
            <td th:text="${flight.getArrival()}"></td>
            <td th:text="${flight.getFlightSchedule()}"></td>
            <td th:text="${flight.isOnTime()} ? #{f_on_time} : #{f_delayed}"></td>
            <td><a th:href="@{./flights/details(flightId=${flight.getId()})}" th:utext="#{details}">details</a></td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:insert="~{footer::copy}">Aviato &#169; 2021</footer>
</body>
</html>