<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../static/general.css}">
    <link rel="icon" type="image/png" th:href="@{../static/media/fav_icon.png}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title>Flight Details</title>
</head>
<body class="container-fluid index">
<header th:insert="~{nav::navbar}"></header>
<main class="row">
    <section class="detail-box col-xl-6">
        <h2><span th:utext="#{d_flight}"></span> <span th:text="${flight.getFlightNumber()} + ' '"></span><span th:utext="#{detail}"></span></h2>
        <hr>
        <div class="details">
            <p><b><span th:utext="#{d_airline}"></span></b><span th:text="${flight.getAirline().getAirlineName()}"></span>
                <a th:href="@{/airlines/airline-details(an = ${flight.getAirline().getAirlineName()})}">
                    click to see details</a></p>
            <p><b><span th:utext="#{d_fn}"></span></b><span th:text="${flight.getFlightNumber()}"></span></p>
            <p><b><span th:utext="#{d_date}"></span></b><span th:text="${flight.getFlightSchedule()} + ' '"></span><span th:utext="${flight.isOnTime()} ? #{d_on_time} : #{d_delayed}"></span></p>
            <p><b><span th:utext="#{d_departure}"></span></b><span th:text="${flight.getDeparture()}"></span></p>
            <p><b><span th:utext="#{d_arrival}"></span></b><span th:text="${flight.getArrival()}"></span></p>
            <p><b><span th:utext="#{d_fType}"></span></b><span th:text="${flight.getFlightType().getValue()}"></span></p>
            <p><b><span th:utext="#{d_passengers}"></span></b></p>
            <ul th:each="passenger : ${flight.getPassengerList()}">
                <li><span  th:utext="${passenger.getName()} + '(' + ${passenger.getGender()} + '), ' +
                ${passenger.getAge()} + ', '"></span>
                    <span th:utext="${passenger.isTransitPassenger()} ? #{d_transit} : #{d_non-transit}"></span></li>
            </ul>
        </div>
    </section>
</main>
<footer th:insert="~{footer::copy}">Aviato &#169; 2021</footer>
</body>
</html>