<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flight Details</title>
    <link rel="stylesheet" th:href="@{../static/style-all.css}">
</head>
<body>
<header>
    <nav id="navbar">
        <a th:href="@{../home}">Home</a>
        <a th:href="@{../passengers}">Passengers</a>
        <a class="current" th:href="@{../flights}">Flights</a>
        <a th:href="@{../passengers/add}">Add Passenger</a>
        <a th:href="@{../flights/add}">Add Flight</a>
    </nav>
</header>
<h1>Flight Details</h1>
<div class="details">
    <h2 th:text="Flight- + ${flight.getFlightNumber()} + Details"></h2>
    <ul>
        <li th:text="Airline + ${flight.getAirline()}"></li>
        <li th:text="Departure + ${flight.getDeparture()}"></li>
        <li th:text="Arrival + ${flight.getArrival()}"></li>
    </ul>
</div>
</body>
</html>