<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../static/general.css}">
    <link rel="icon" type="image/png" th:href="@{../static/media/fav_icon.png}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title>Book a Flight</title>
</head>
<body class="container-fluid index">
<header th:insert="~{nav::navbar}"></header>
<h1>Book your Flight</h1>
<main class="row">
    <form method="post" class="col-xl-4 col-sm-6 col-xs-6" th:action="@{../flight-booking/booking}">
        <label for="passenger">Select a Passenger</label>
        <select id="passenger">Select Passenger
            <option th:each="passenger : ${passengers}" th:text="${passenger.getName()}" th:value="${passenger}"></option>
        </select>
        <label for="flight">Select a Flight</label>
        <select id="flight">Select Flight
            <option th:each="flight : ${flights}" th:value="${flight}"
                    th:text="${flight.getAirline().getAirlineName()} + ': '
                     + ${flight.getDeparture()} + ' to ' + ${flight.getArrival()} + ' (' + ${flight.getFlightNumber()} + ')'"></option>
        </select>
        <input class="submit-button" type="submit" th:value="'Book the Flight'">
    </form>
</main>
<footer th:insert="~{footer::copy}">Aviato &#169; 2021</footer>
</body>
</html>