<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../static/general.css}">
    <link rel="icon" type="image/png" th:href="@{../static/media/fav_icon.png}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title>Aviato</title>
</head>
<body class="container-fluid index">
<header th:insert="~{nav::navbar}"></header>
<main>
    <h1 class="text-lg-start">Aviato</h1>
    <p class="text-lg-start" th:utext="#{catchline}">Let's discover places!</p>
</main>
<footer class="footer-home" th:insert="~{footer::copy}">Aviato &#169; 2021</footer>
</body>
</html>