<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/index.css">
    <title>Aviato</title>
</head>
<body>
<header>
    <nav id="navbar">
        <a href="">Home</a>
        <a href="">Passengers</a>
        <a href="">Flights</a>
        <a href="">Add Passenger</a>
        <a href="">Add Flight</a>
    </nav>
</header>
<h1>Welcome to Aviato!</h1>
<h3>Learn everything about flights</h3>
<div class="options">
    <a href="">View Passengers</a>
    <a href="">Add Passenger</a>
    <a href="">View Flights</a>
    <a href="">Add Flight</a>
</div>
<footer>Aviato &#169; 2021 | All Rights Reserved</footer>
</body>
</html>