<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../static/general.css}">
    <link rel="icon" type="image/png" th:href="@{../static/media/fav_icon.png}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title>Passenger Details</title>
</head>
<body class="container-fluid index">
<header th:insert="~{nav::navbar}"></header>
<h1 th:utext="#{p_d_h}">Passenger Details</h1>
<main class="row">
    <section class="detail-box col-xl-6">
        <h2 th:text="${passenger.getName()}"></h2>
        <hr>
        <div class="details">
            <p><b><span th:utext="#{p_d_age}"></span></b><span th:text="${passenger.getAge()}"></span></p>
            <p><b><span th:utext="#{p_d_gender}"></span></b><span th:text="${passenger.getGender().getGender()}"></span></p>
            <p><b><span th:utext="#{p_d_transit}"></span></b><span th:text="${passenger.isTransitPassenger()} ? #{p_d_yes} : #{p_d_no}"></span></p>
            <p><b><span th:utext="#{p_d_flights}"></span></b><span th:text="${passenger.getNumberOfFlights()}"></span></p>
            <ul th:each="flight : ${passenger.getFlights()}">
                <li th:text="${flight.getFlightNumber()} + ': '+ ${flight.getDeparture()} + ' ' + #{p_d_d1} + ' '+ ${flight.getArrival()} + ' ' + #{p_d_d2}"></li>
            </ul>
        </div>
    </section>
</main>
</body>
<footer th:insert="~{footer::copy}">Aviato &#169; 2021</footer>
</html>